WcfServiceCalcDistance/WCFServiceClient/Service References/DistanceCalculatorServiceReference/ServiceCalculator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40994/ServiceCalculator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceCalcDistance" />
  <xs:element name="Sum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcDistance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceCalcDistance" minOccurs="0" name="startpoint" nillable="true" type="q1:Point" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceCalcDistance" minOccurs="0" name="endpoint" nillable="true" type="q2:Point" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcDistanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcDistanceResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>